<html>
    <head>
        <meta charset="UTF-8">
        <title><%= @title %></title>
    </head>
    <body>
        <h1><%= @title %></h1>
        <p><%= @subtitle %></p>
        <p>
            <a href="about">About this service</a>
        </p>
    </body>
</html>